.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-m0q9o2-MuiPaper-root-MuiTableContainer-root {
    border-radius: 30px;
}

.total-student {
    color: rgba(255, 255, 255, 0.732);
    margin-bottom: 8px !important;
}

.row-table {
    cursor: pointer;
}